{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "// React",
    "^(react/(.*)$)|^(react$)",
    "// Next.js",
    "^(next/(.*)$)|^(next$)",
    "// Third-party modules",
    "<THIRD_PARTY_MODULES>",
    "// Empty line separator",
    "",
    "// App folder absolute imports",
    "^@/app/(.*)$",
    "// Common components",
    "^@/components/(.*)$",
    "// Constants",
    "^@/constants/(.*)$",
    "// Context",
    "^@/contexts/(.*)$",
    "// Hooks",
    "^@/hooks/(.*)$",
    "// Services",
    "^@/services/(.*)$",
    "// Utils",
    "^@/utils/(.*)$",
    "// Others",
    "^@/(.*)$",
    "// Empty line separator",
    "",
    "// Relative imports",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "tailwindAttributes": ["tw"],
  "tailwindFunctions": ["cva"]
}